/* Custom font: F1Black */
@font-face {
  font-family: "F1Black";
  src: local("Formula1-Black"), url("./fonts/Formula1-Black.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

/* Custom font: F1Bold */
@font-face {
  font-family: "F1Bold";
  src: local("Formula1-Bold"), url("./fonts/Formula1-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Custom font: F1Regular */
@font-face {
  font-family: "F1Regular";
  src: local("Formula1-Regular"), url("./fonts/Formula1-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Custom font: F1Wide */
@font-face {
  font-family: "F1Wide";
  src: local("Formula1-Wide"), url("./fonts/Formula1-Wide.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  /* Colors */
  --background-color-primary: #1e2431;
  --background-color-secondary: #232937;
  --color-primary: #ffffff;
  --color-secondary: #ee0000;

  /* Font Size */
  font-size: 16px;
  --font-size-logo: 2rem;
  --font-size-nav: 1.125rem;
  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.5rem;
  --font-size-dropdown: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-secondary);
  min-height: 100vh;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.container-title h1 {
  width: 60%;
  margin-bottom: 16px;
  font-family: F1Black;
  font-size: var(--font-size-title);
  color: var(--color-primary);
  text-align: center;
}
.container-title h2 {
  padding-top: 16px;
  border-top: 3px solid var(--color-secondary);
  font-family: F1Bold;
  font-size: var(--font-size-subtitle);
  color: var(--color-primary);
  text-align: center;
}
.container-dropdown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  padding: 0 20px;
}
.container-chart {
  width: 100%;
  margin: 30px 0;
  padding: 0 5vw;
}
.hide-container {
  display: none;
}

/* Loading animation */
.loading-chart {
  width: 100px;
  height: auto;
  margin: 200px 0;
  animation: loading 1s ease infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}