/* Telemetry dropdown styles */
.container-dropdown .dropdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Telemetry container styles */
.telemetry-container-span {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-secondary);
  font-family: F1Black;
  font-size: var(--font-size-title);
  color: var(--color-primary);
  text-align: center;
}

/* Telemetry loading icon */
.telemetry-loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
}